.container {
    width: 30%;
    margin: 30px;
    border-radius: 15px;
    border: rgb(2, 104, 151) 3px solid;
    background-color: rgb(204, 235, 255);
    padding: 10px;
}

h3{
    color: snow;
    background-color: rgb(16, 99, 167);
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

#timer{
    font-size: 25px;
    font-weight: 500;
    border: black solid 1px;
    border-radius: 5px;
    text-align: center;
    margin: 15px 5px;
    padding: 8px 0;
    background-color: white;
}

.buttons {
    display: flex;
}

button{
    display: flex;
    display: block;
    width: 30%;
    margin: 0 5px;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}